:root {
  --fs-300: 0.75rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-700: 2rem;
  --shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
  --rounded: 5px;
  --star-size: 18px;
  --star-color: hsl(0, 0%, 88%);
  --star-background: hsl(40, 100%, 71%);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;

  font-size: var(--fs-400);
  padding: 1rem;
}

@media (min-width: 700px) {
  :root {
    --fs-300: 1rem;
    --fs-400: 1.25rem;
    --fs-500: 1.5rem;
    --fs-900: 2.75rem;
    --star-size: 40px;
  }

  .review-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0.5rem 0;
  }
}
